<phpunit colors="true">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="var/coverage"/>
        <log type="coverage-xml" target="var/coverage/coverage-xml"/>
        <log type="junit" target="var/coverage/phpunit.junit.xml"/>
    </logging>
</phpunit>